In [1]:
import pandas as pd
import numpy as np
import itertools as it

In [2]:
D = 2
I = [3, 5]
E = [10, 7]

In [3]:
d_label = list(np.random.randint(1, 3, 10000))

In [4]:
d_label.sort()

In [5]:
domains = [[1], [2]]

In [6]:
from markupsafe import escape_silent
hypo_scores = pd.DataFrame(columns = ['DL', 'IL', 'EL'])
d_s = []
i_s = []
e_s = []

for i in range(D): # i = 0, 1
  num_examples = d_label.count(i+1) # gives how many random examples we want to generate

  i_s.extend(list(np.random.randint(1, I[i]+1, num_examples)))
  e_s.extend(list(np.random.randint(1, E[i]+1, num_examples)))

  d_s.extend([i+1] * num_examples)


hypo_scores['DL'] = d_s
hypo_scores['IL'] = i_s
hypo_scores['EL'] = e_s

hypo_scores

      DL  IL  EL
0      1   3  10
1      1   1   3
2      1   1   4
3      1   1   8
4      1   3  10
...   ..  ..  ..
9995   2   4   5
9996   2   5   7
9997   2   5   2
9998   2   1   3
9999   2   3   4

[10000 rows x 3 columns]

In [7]:
hypo_scores = hypo_scores.sample(frac=1)

In [10]:
hypo_scores.to_csv('groundTruth.csv', index=False)