In [13]:
import pandas as pd
import numpy as np
import itertools as it

In [14]:
D = 2
I = [3, 5]
E = [10, 7]

In [15]:
# generating labels for domain (how many would be of domain 1 and how many of domain 2)
d_label = list(np.random.randint(1, 3, 10000))

In [16]:
# to make the generation of entity and intent labels faster
d_label.sort()

In [17]:
domains = [[1], [2]]

In [18]:
from markupsafe import escape_silent
hypo_labels = pd.DataFrame(columns = ['DL', 'IL', 'EL'])
d_s = []
i_s = []
e_s = []

for i in range(D): # i = 0, 1
  num_examples = d_label.count(i+1) # gives how many random examples we want to generate based on how many examples of a domain are present in d_labels

  i_s.extend(list(np.random.randint(1, I[i]+1, num_examples))) #generating intent labels
  e_s.extend(list(np.random.randint(1, E[i]+1, num_examples))) #generating entity labels

  d_s.extend([i+1] * num_examples)


hypo_labels['DL'] = d_s
hypo_labels['IL'] = i_s
hypo_labels['EL'] = e_s

hypo_labels

      DL  IL  EL
0      1   1  10
1      1   3   9
2      1   2   3
3      1   2  10
4      1   3   1
...   ..  ..  ..
9995   2   1   7
9996   2   1   3
9997   2   2   1
9998   2   1   2
9999   2   1   3

[10000 rows x 3 columns]

In [19]:
#shuffling the dataset 

hypo_labels = hypo_labels.sample(frac=1)

In [20]:
hypo_labels.to_csv('groundTruth.csv')